name: Code quality

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

permissions:
  contents: read

jobs:
  code-quality:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-versions: [ '8.3', '8.4', '8.5' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP with tools
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          tools: phpstan

      - name: Run PHPStan
        run: phpstan --level=1 --error-format=github analyse src
